:root {
  --midnight-purple: #1f0c35;
  --deep-purple: #35155d;
  --light-purple: #512b81;
  --special-blue: #4477ce;
  --light-blue: #8cabff;
  --sand: #dbdabe;
}

* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(var(--light-purple), 45%, var(--midnight-purple));
  font-family: Monaco, "Lucida Console", monospace;
}

body div {
  height: 100%;
}

button {
  width: 225px;
  min-height: 55px;

  margin: 15px 10px;
  letter-spacing: 0.2rem;
  font-size: large;
  font-weight: bolder;
  color: white;
  background-color: var(--light-blue);
  border: 5px solid var(--light-purple);
  border-radius: 15px;
  align-self: baseline;
  transition: scale 0.4s ease;
}

button:hover {
  scale: 1.1;
}

.start-menu {
  align-items: center;
  margin-top: 40%;
  width: 100%;
}

.start-menu h1 {
  text-align: center;
  font-style: italic;
  padding-left: 1%;
  letter-spacing: 0.5rem;
  width: 100%;
  font-size: 72px;
  color: var(--sand);
  text-shadow: var(--light-blue) 10px 0 10px;
}

.menu-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 360px;
}

.question-card {
  width: 75%;
  max-width: 1000px;
  height: 350px;
  display: flex;
  flex-direction: column;
  background: var(--sand);
  border: 5px solid var(--light-blue);
  border-radius: 25px;
}

.stats {
  align-self: center;
  display: flex;
  flex-direction: row;
  height: 22px;
  z-index: 1;
  font-size: medium;
}

.spacer {
  text-align: center;
  align-self: flex-start;
  width: 500px;
  margin-top: -15%;
}

.question-title {
  padding: 40px;
  padding-bottom: 10px;
  align-self: center;
  text-align: center;
  max-width: 800px;
  font-size: x-large;
  font-weight: 600;
  color: #35155d;
}

.answers {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  list-style: none;
  margin: 0px 40px;
}

.answers li {
  align-self: center;
  padding: 12px 0px;
  width: 95%;
  max-width: 800px;
  text-align: center;
  font-size: medium;
  color: #1f0c35;
  border: 3px solid #ffffff00;
  border-radius: 15px;
  transition: border 0.2s ease;
}

.answers li:focus,
.answers li:hover {
  border: 3px solid var(--light-purple);
}

.game-buttons {
  display: flex;
  align-self: center;
}

#end-game {
  display: none;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 350px;
  flex-direction: column;
  background: var(--sand);
  border: 5px solid var(--light-blue);
  border-radius: 25px;
}

.game-header {
  padding-top: 10%;
  font-size: 70px;
  color: var(--deep-purple);
  text-shadow: 8px 8px 8px #9065c4;
}

.game-results {
  padding: 2%;
  padding-top: 10%;
  list-style: none;
  color: var(--midnight-purple);
}

.game-results li {
  font-size: large;
  text-align: center;
  width: 100%;
  padding: 5%;
}

#leaderboard-view {
  display: none;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 400px;
  flex-direction: column;
  background: var(--sand);
  border: 5px solid var(--light-blue);
  border-radius: 25px;
}

#leaderboard-view h1 {
  color: var(--midnight-purple);
  text-shadow: 3px 5px 5px var(--light-blue);
  font-size: 40px;
  margin-top: 10%;
}

#leaderboard-positions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  padding: 25px;
  width: 70%;
  height: 70%;
  margin-top: -1%;
  margin-bottom: -4%;
}

#leaderboard-positions li {
  display: flex;
  align-items: center;
  color: var(--midnight-purple);
  background-color: rgba(68, 119, 206, 0.5);
  border-radius: 15px;
  width: 100%;
  height: 30px;
  padding: 2px 15px;
  letter-spacing: 0.05rem;
}

#back-button {
  align-self: center;
}

.separator {
  width: 100%;
}

#credits {
  font-size: x-small;
  position: fixed;
  margin-bottom: -600px;
  color: var(--sand);
}

#credits a {
  text-decoration: none;
  color: var(--sand);
  transition: font-size 0.3s ease;
}

#credits a:hover {
  font-size: small;
}

/*
  Standard "Medium" tablet size
  Source : https://learn.microsoft.com/en-us/windows/apps/design/layout/screen-sizes-and-breakpoints-for-responsive-design
*/
@media screen and (max-width: 1008px) {
  button {
    transition: none;
  }

  .start-menu {
    align-self: center;
    margin-top: 50%;
  }

  #end-game,
  .question-card {
    width: 80%;
    height: 350px;
  }

  .question-title {
    font-size: 20px;
  }

  .game-header {
    font-size: 40px;
  }

  .answers {
    align-self: center;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 95%;
  }

  .answers li {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    transition: none;
  }

  .game-buttons {
    margin: -5px 10px;
  }

  .spacer {
    width: 300px;
  }

  .game-header {
    margin-top: 35px;
    font-size: 50px;
  }

  .game-results {
    align-self: center;
    margin-left: -3%;
  }

  .game-results li {
    margin-top: -35px;
    margin-bottom: 25px;
    font-size: 25px;
  }

  #leaderboard-view {
    margin: 2%;
  }

  #credits {
    font-size: medium;
    margin-bottom: -600px;
  }
}

/* 
  Standard "Small" smartphone size
  Source : https://learn.microsoft.com/en-us/windows/apps/design/layout/screen-sizes-and-breakpoints-for-responsive-design
*/
@media screen and (max-width: 640px) {
  button {
    width: 175px;
  }

  .start-menu {
    align-self: center;
    margin-top: 80%;
  }

  .start-menu h1 {
    font-size: 55px;
  }

  #end-game,
  .question-card {
    width: 90%;
    height: 350px;
  }

  .question-title {
    margin-top: 0px;
    font-size: medium;
  }

  .game-header {
    font-size: 35px;
    margin-top: 40px;
  }

  .answers {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .game-buttons {
    margin: -15px 15px;
  }

  .spacer {
    width: 125px;
  }

  .answers li {
    font-size: 12px;
    font-weight: bold;
    width: 100%;
  }

  .game-results {
    margin-bottom: -15px;
    margin-top: 35px;
  }

  #return-home {
    margin-bottom: -10px;
  }

  #credits {
    font-size: small;
    margin-bottom: -600px;
  }
}

/* Additional support for smallest screeens */
@media screen and (max-width: 400px) {
  .start-menu h1 {
    font-size: 55px;
    margin-bottom: 35px;
  }

  .question {
    margin-top: -5%;
  }

  .question-title {
    margin-top: 0px;
    font-size: medium;
  }

  .game-header {
    font-size: 35px;
    margin-top: 40px;
  }

  .answers {
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .game-buttons {
    margin: -15px 15px;
  }

  .spacer {
    width: 75px;
    font-size: x-small;
  }

  .answers li {
    font-size: 11px;
    font-weight: bold;
    max-height: 40px;
    width: 100%;
  }

  #credits {
    margin-bottom: -200px;
    font-size: small;
  }
}
